/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  section {
    margin-bottom: 70px;
  }
  .container {
    padding: 0 50px;
  }

  .header__social {
    right: 15px;
  }

  .popular-services__table {
    max-width: 730px;
    margin: 0 auto;
  }

  .price {
    column-gap: 0;
    justify-content: space-between;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    h2{
        font-size: 40px;
    }

    .header .container{
        padding: 0 30px;
    }

    .phone__number{
        font-size: 14px;
    }

    .phone__time{
        font-size: 9px;
    }
  .navigation__list {
    gap: 10px;
  }

  .navigation__item {
    text-align: center;
    font-size: smaller;
  }

  .header__girl {
    opacity: 0.5;
  }

  .hero {
    padding-top: 220px;
    padding-bottom: 50px;
  }

  .hero__text {
    position: relative;
    z-index: 1;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
  }
  .table {
    row-gap: 15px;
    justify-content: space-between;
  }

  .card {
    max-width: 300px;
  }

  .card__pic {
    max-width: 300px;
    max-height: auto;
  }

  .experts__table {
    flex-wrap: wrap;
    column-gap: 0;
  }
  .experts__card {
    flex-basis: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .advantage__item{
    text-align: center;
  }

  .price{
    justify-content: center;
  }
  
  .price__item{
    width: 65%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
