html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #333;
  line-height: normal;
}

html,
body {
  height: 100%;
}

a,
button {
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.sign-up {
  padding: 17px 30px;
  border-radius: 24px;
  background: #fb9475;
  border-style: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

section {
  margin-bottom: 100px;

  .section__title {
    margin-bottom: 32px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1110px;
  margin: auto;
  position: relative;
}

.header {
  background-color: #f8f6f7;
  background-image: url(/source/header-bg.png);
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
}

.navigation {
  .navigation__list {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
  }

  .navigation__item:not(:last-child) {
    margin-right: 28px;
  }

  .navigation__link:hover {
    color: #00bf78;
  }
}

.header__tel {
  text-align: right;

  a {
    font-size: 18px;
    font-weight: 500;
  }

  .time {
    font-size: 11px;
  }
}

.hero {
  max-width: 540px;
  padding: 136px 0;

  h1 {
    margin-bottom: 17px;
  }

  p {
    margin-bottom: 59px;
  }
}

.girl {
  position: absolute;
  bottom: 0;
  right: 93px;
  z-index: 1;

  img {
    display: block;
    position: relative;
    max-width: 524px;
    min-height: 510px;
  }
}

.girl:hover:before {
  transform: scale(1.05);
}

.girl:before {
  content: " ";
  width: 472px;
  height: 472px;
  border-radius: 50%;
  background-color: #fb9475;
  position: absolute;
  top: 148px;
  left: 49px;
  transition: 0.3s transform;
}

.header__social {
  position: absolute;
  right: 0;
  top: 237px;
}

.social {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
}

.social--vertical {
  flex-direction: column;
}

.about {
  margin-top: 94px;
}

.about__content {
  display: flex;
  align-items: end;
  margin-bottom: 100px;
}

.about__article {
  .about__thesis {
    max-width: 570px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .about__text {
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
  }
}

.video {
  position: relative;

  .video__preview {
    max-width: 445px;
    max-height: 296px;
    border-radius: 8px;
    filter: brightness(75%);
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .video-button__icon {
    margin-bottom: 6px;
  }

  .video-button__text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}

.advantages {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.advantage__item {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .advantage__icon {
    max-width: 48px;
    max-height: 48px;
  }

  .advantage__title {
    font-size: 18px;
    font-weight: 600;
  }

  .advantage__content {
    text-align: center;
    margin: auto;
    overflow-wrap: break-word;
  }
}

.footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.privacy-policy {
  .privacy-policy__name {
    margin-bottom: 8px;
  }

  .privacy-policy__link {
    text-decoration: underline;
    color: #278aff;
  }
}
